<!DOCTYPE Model SYSTEM 'AnaWSBuilder.dtd'>
<Model Type="UserDef">

    <Item Name="muCBNom[NOMINAL_MEAN]"/>
    <Item Name="sigmaCBNom[NOMINAL_WIDTH]"/>
    <Item Name="alphaCBLo[NOMINAL_ALPHAL]"/>
    <Item Name="alphaCBHi[NOMINAL_ALPHAH]"/>
    <Item Name="nCBLo[NOMINAL_NL]"/>
    <Item Name="nCBHi[NOMINAL_NH]"/>

    <ModelItem Name="RooTwoSidedCBShape::signal(:observable:, muCBNom, sigmaCBNom, alphaCBLo, nCBLo, alphaCBHi, nCBHi)"/>
</Model>

