<!DOCTYPE Model  SYSTEM 'AnaWSBuilder.dtd'>
<Model Type="UserDef">
  <ModelItem Name="EXPR::background('@1*TMath::Power(1-@0/13000.,@2)*TMath::Power(@0/13000, -1*(@3 + @4*TMath::Log(@0/13000.)))', :observable:, p1[1,1,1], p2[PAR2, -30, 30], p3[PAR3, -30, 30], p4[PAR4, -10, 10])"/>
</Model>
